body {
	background-color: #fffcf5;
}

#slogan {
	font-family: 'Maven Pro', sans-serif;
	font-size: 36px;
}



#foto img {
   position: relative;
   width: 100%; /* for IE 6 */
   max-height: 600px;
   margin-top: 20px;
}